<div id="login">
  <div class="logo-header">
    <img class="logo" src="assets/layout/images/logo.png" alt="Pulse">
  </div>
  <div class="login-content">
    <div class="user-details" style="">
      <div>
        <span class="welcome-text">Welcome to Pulse System</span>
      </div>
      <div class="call-to-action">
        <span class="call-to-action-text">Enter your details below.</span>
      </div>
      <form (ngSubmit)="onSignin(form)" #form="ngForm">
        <div class="">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
            <input type="text" name="username" ngModel pInputText placeholder="Username">
            <button id="submit-btn" pButton type="submit" icon="pi pi-check"></button>
          </div>
        </div>

        <div class="password-input">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-lock"></i></span>
            <input type="password" name="password" ngModel pInputText
                   placeholder="&lowast;&lowast;&lowast;&lowast;&lowast;&lowast;&lowast;&lowast;&lowast;">
          </div>
        </div>
      </form>
    </div>
    <div class="smile-img">
      <img src="assets/layout/images/login/smile.png" class="smile"/>
    </div>
  </div>
  <div class="layout-footer">
    <span class="copyright">Copyright © 2018 Pulse. All rights reserved.</span>
  </div>
</div>
