#login {
  background: url("../../assets/layout/images/login/background.png") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.logo-header {
  padding: 43px 0 0 65px;
  height: 86px;
}

.login-content {
  padding: 0 70px;
  display: flex;
}

.user-details {
  padding-top: 172px
}

.welcome-text {
  color: #35406b;
  font-size: 24px;
  font-weight: 700;
}

.call-to-action {
  margin-top: 6px;
}

.call-to-action-text {
  color: #35406b;
  font-weight: 600;
  font-size: 12px;
}

form {
  margin-top: 37px;
  width: 367px;
}

#submit-btn > span {
  font-size: 27px;
}

button[type="submit"] {
  background-image: linear-gradient(180deg, #2accdd 0%, #3eace2 100%);
  /*background-image: linear-gradient(180deg, #17ead9 0%, #6078ea 100%);*/
}

.ui-inputgroup {
  height: 41px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: 1px solid #27aae1;
  background-color: #ffffff;
}

.ui-inputgroup input {
  width: 100%;
}

input:not(.ng-focused) {
  opacity: 0.5;
}

.password-input {
  margin-top: 28px;
  opacity: 0.5;
}

.password-input .ui-inputgroup {
  border: 1px solid #d4dbeb;
  box-shadow: none;
}

.smile {
  margin-top: 18px;
  margin-left: 134px;
}

.copyright {
  width: 259px;
  height: 17px;
  color: #949494;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  color: #27aae1;
}

span.ui-inputgroup-addon {
  /*color: $primaryColor;*/
  border: none;
  padding: 10px 28px 10px 34px;
}

@media (max-width: 640px) {
  .logo-header {
    padding: 10px;
  }

  .user-details {
    padding-top: 50px;
  }
}

@media (max-width: 1040px) {
  .login-content {
    padding: 0;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  form {
    width: 100%;
  }

  .smile-img {
    display: none;
  }

  .layout-footer {
    padding: 0;
    width: 100%;
    text-align: center;
  }
}
